# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
venv/

# Archive
_archive/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Caches
.cache/
*.cache/

# Data and outputs
results/*.bak
*.png
*.csv
*.tsv
*.txt

# Local config
*.local